.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

#display, #result {
    border: 2px solid green;
    width: 84px;
    min-height: 20px;
    padding: 3px;
}

#display {
    border-bottom: 1px solid green;
}


#result {
    border-top: 1px solid green;
}